# .gitignore

# Ignore node_modules if you're using npm
node_modules/

# Ignore any log files
*.log

# Ignore .DS_Store files on macOS
.DS_Store

# Ignore any private or sensitive information
*.pem
*.crx

# Ignore any temporary files
*.tmp
*.temp

# Ignore Visual Studio Code settings
.vscode/

# Ignore any build output
dist/
build/